
#Journal1{ 
    color:#808080; 
    font-size:12pt; 
}
nav.menu{   
    border-width: 2px;
    border-style: solid;
    border-color: darkblue;
    border-radius: 5mm;
    height:6em;
}
nav.menu li{
    margin:auto;
    font-size:11pt;
    font-weight: bold;
}

a[href^="#"]{
    color:hsl(240, 100%, 50%);
}
a[href^="#"]:active{
    color:red;
}
.mood,.audio{
    text-align:center;
}

.content1{
  padding: 30px 0;
  border: 3px solid green;
  margin: 20px 20vw;
  text-align: center;
}
.mood #word {
    color:green;
}
#word + #happy{
    color:red;
}
.audio:hover{
    color:rgb(0,0,255);
}
.bye > img{
    display: block;
    margin-left: auto;
    margin-right:auto;
}

video{
    display:inline-block;
    padding-top:1vh;
    width:40vw;
}
.content2 { 
    height: 200px;
    position: relative;
    border: 3px solid green; 
    margin: 20px 20vw;
}
  
.content2 p {
    margin:0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
video ~ h3{
    color:red;
}

@media(width: 360px){
    h3{
        color:red;
    }
}
@media(min-width:35rem){
    h3{
        background:yellow;
    }
}
@media(max-width:50rem){
    h3{
        border:2px solid blue;
    }
}
.container{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-self:auto;
    flex-wrap: nowrap;
}

.container img{
    width: 20vw;
    padding-left:5px;
    padding-right:5px;
}


form.side{
    grid-column-start:col1-start;
    grid-column-end: span col1-end;
}
form.header{
    grid-column-start:col1-end;
    grid-column-end: span col2-end;
}
form.mainbody{
    grid-column: col1-start / span col1-end;
}
form.endnote{
    grid-column: col1-end /span col2-end;
}
form{
    display:grid;
    grid-template-columns: [col1-start] 45vw [col1-end] 50vw [col2-end];
    grid-template-rows: auto;
    justify-self:stretch;
}